# Ignore all files by default
*
!*/

# Git
!.gitignore
!.gitattributes
!.github/workflows/**

# Source files
!*.sln
!*.csproj
!*.cs
!*.razor


# Sandbox source files
!*.scene
!*.prefab
!*.clothing
!*.sound
!*.decal
!*.sndscape
!*.surface
!*.vtex

# Shader files
!*.shader
!*.fxc
!*.hlsl
!*.hlsli

# Text files
!*.txt
!*.md
!*.ini
!*.cfg
!*.json
!*.css
!.editorconfig
!.yaml
!.yml

# Script files
!*.bat
!*.sh
!*.py

#
# Some junk
#

# Local input files
*#local.json

game/config/input/common.json
*.codegen
engine/CodeGen.deps.json
engine/CodeGen.runtimeconfig.json
.generated
game/core/shadercache/vulkan/shaders.cache
engine/Sandbox.Compiling/EmbeddedRefs/*.xml
game/*.xml
engine/TestResults/

/engine/**/Interop.*.cs

#
# Visual Studio
#
.vs/
.intermediate/

# addon debris
/game/**/.sbox/*
/game/**/*.sln
/game/**/*.csproj
/game/**/obj
/game/**/launchSettings.json

#
# Game debris
#
/game/.source2
/game/_toolsettings
/game/bin/**/*.pdb
/game/bin/**/*.dll
/game/bin/**/*.xml
/game/bin/**/*.json
/game/bin/win64/logs
/game/config/**/*.json
/game/config/**/*.json.backup
/game/core/cfg/*.vcfg
/game/core/cfg/video.txt
/game/core/cfg/video_tools.txt
/game/data
/game/download
/game/download_test
/game/logs
/game/screenshots
/game/tools
/game/aftermath_dumps
/game/gamecache
