.controlgroup
{
	border-radius: 8px;
	padding: 0.5rem;
	flex-direction: column;
	flex-shrink: 0;

	&.hidden
	{
		display: none;
	}
}

.controlgroup > .header
{
	font-weight: 550;
	color: #fff;
	flex-shrink: 0;
	padding: 8px 0;
	text-shadow: 1px 1px 1px #0004;
}

.controlgroup > .body
{
	flex-direction: column;
	flex-shrink: 0;
	gap: 2px;
	padding-left: 16px;

	&.hidden
	{
		display: none;
	}
}