WorkshopPublishModal
{
	flex-shrink: 0;
	z-index: 1100;
	font-family: Poppins;
	font-size: 1.2rem;

	h1
	{
		font-weight: 700;
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	.success
	{
		justify-content: center;
		padding: 10rem;
		font-size: 10rem;
		letter-spacing: -50px;
	}

	.progress-bar
	{
		margin: 1rem;
		height: 64px;
		background-color: #000a;
		border-radius: 10px;
		overflow: hidden;

		.fill
		{
			height: 100%;
			background-color: #08f;
			min-width: 3px;
		}
	}

	.actions
	{
		margin-top: 2rem;
		justify-content: flex-end;
		gap: 1rem;
	}


	.inner
	{
		width: 1100px;
		pointer-events: all;
		border-radius: 10px;
		z-index: 100;
		box-shadow: 10px 10px 150px #0005;
		background-color: #1c202d;

		&.progress
		{
			padding: 2rem;
			flex-direction: column;
		}

		.left
		{
			justify-content: center;
			padding: 2rem;

			.thumbnail
			{
				width: 350px;
				height: 350px;
				background-color: #fff1;
				border-radius: 10px;
				background-size: cover;
				background-position: center;
			}
		}

		.right
		{
			padding: 2rem;
			padding-left: 0;
			flex-grow: 1;
			flex-direction: column;

			.form-group
			{
				flex-grow: 1;
				flex-direction: column;
				gap: 2px;

				.row
				{
					> label
					{
						width: 130px;
						padding: 6px;
						color: #fffa;
					}

					textentry, dropdown
					{
						background-color: #0006;
						flex-grow: 1;
						border-radius: 8px;
					}
				}
			}
		}
	}
}

ButtonGroup
{
    border-radius: 10px;
    overflow: hidden;
    gap: 1px;

    button
    {
        white-space: nowrap;
        overflow: hidden;
        background-color: #0006;
        color: #fffa;

        &:hover
        {
            background-color: #08f3;
            color: #fff;
        }

        &.active
        {
            background-color: #08f;
            color: #fff;
        }
    }
}