#TitleBar {
	min-height: 35px;
	max-height: 35px;
}

#TitleBar QMenuBar {
	background-color: transparent;
	border: 0px;
	padding: 0px;
	spacing: 0px;
	padding: 6px 0;
	margin: 5px 0px;
	font-family: $DefaultFont;
	color: $Text;
	font-size: 11px;
	font-weight: 500;
}

#TitleBar QMenuBar::item {
	padding: 4px 8px;
	margin: 0px;
	min-height: 200px;
	height: 200px;
	margin: 0px;
	border-radius: $ControlRadius;
}

#TitleBar QMenuBar::item:selected {
	background: $WidgetBackground;
}

#TitleBar QMenuBar::item:pressed {
	background: $WidgetBackground;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}